.row
  .col-sm-7
    %h1 RssPackは、フィードをまとめるサービスです。
  .col-sm-5
    = form_for :identity, url: login_path do |f|
      .form-group
        = f.label :email, for: 'email', class: 'sr-only'
        = f.email_field :email, id: 'email', class: 'form-control', placeholder: 'メールアドレス'
      .row
        .col-sm-9
          .form-group
            = f.label :password, for: 'password', class: 'sr-only'
            = f.password_field :password, id: 'password', class: 'form-control', placeholder: 'パスワード'
        .col-sm-3
          = f.submit 'ログイン', class: 'btn btn-primary'
    %p
      新規登録は#{link_to 'こちら', signup_path}
