.row
  .col-sm-3
    %h2
      フィード一覧
    %p
      あなたが登録したフィードの一覧です。
  .col-sm-9
    %div
      - @feeds.each do |feed|
        %div
          ="#{feed.created_at.localtime}に登録"
        %div
          =link_to feed.title, feed.url, target: '_blank'

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th タイトル
      %th 登録日時
      %th フィード最終取得日時
  %tbody
    -# :TODO フラグメントに切り出し
    - @feeds.each do |feed|
      %tr
        %td= link_to feed.title, feed.url, target: '_blank'
        %td= feed.created_at
        %td= feed.refreshed_at
        %td= link_to '削除', feed, method: :delete, data: { confirm: 'Are you sure?'}
