%h1= 'Feeds'

= link_to '追加', new_feed_path
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th TITLE
      %th URL
      %th AGGREGATION?
  %tbody
    -# TODO フラグメントに切り出し
    - @feeds.each do |f|
      - unless f.aggregation?
        %tr
          %td= f.title
          %td= f.url
          %td= f.aggregation?
          %td= link_to '削除', f, method: :delete, data: { confirm: 'Are you sure?'}