%h1 Select a feed
.row
  .col-md-6.col-md-offset-3
    - @feeds.each do |feed|
      = form_for(feed) do |f|
        = f.hidden_field :url
        = f.hidden_field :title
        = f.hidden_field :content_type
        %a= link_to "#{feed.title}", feed.url, target: '_blank'
        = f.submit '登録', class: 'btn btn-primary'
