%h1 ユーザー登録
.row
  .col-md-6.col-md-offset-3
    = form_for(@user, url: users_path) do |f|
      = render 'shared/errors', model: @user
      .form-group
        = f.label :email, for: 'email', class: 'sr-only'
        = f.text_field :email, id: 'email', class: 'form-control', placeholder: 'メールアドレス'
      .form-group
        = f.label :password, for: 'password', class: 'sr-only'
        = f.password_field :password, id: 'password', class: 'form-control' , placeholder: 'パスワード'
      .form-group
        = f.label :password_confirmation, for: 'password_confirmation', class: 'sr-only'
        = f.password_field :password_confirmation, id: 'password_confirmation', class: 'form-control', placeholder: 'パスワード(確認用)'
      = f.submit '登録', class: 'btn btn-primary'
