.row
  .col
    %div
      #{subscription.feed.title}(#{link_to "詳細", feed_path(subscription.feed)})
      %br
      = subscription.feed.url
      %br
      = link_to "詳細", pack_subscription_path(pack, subscription)
    %div
      = link_to "解除", pack_subscription_path(pack, subscription), method: :delete, data: { confirm: "本当によろしいですか？" }
