%h1 Listing packs

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @packs.each do |pack|
      %tr
        %td= pack.name
        %td= link_to "Show", pack
        %td= link_to "Edit", edit_pack_path(pack)
        %td= link_to "Destroy", pack, method: :delete, data: { confirm: "Are you sure?" }

%br

= link_to "New Pack", new_pack_path
