%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to 'rss pack', root_path, id: 'logo'
    %nav
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li= link_to 'フィード登録', discover_feeds_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = "#{current_user.email}"
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", '#'
              %li= link_to "Settings", '#'
              %li.divider
              %li
                = link_to 'ログアウト', logout_path, method: :delete
        - else
          %li= link_to 'ログイン', login_path
